@import 'vendor/bootstrap';
@import '_variables';
@import 'bar-chart';


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

$orange: #ffd060;
$pink: #fb6090;

* {
    font-family: Montserrat;
    font-size: 12px;
}

/* Map */

#map-container {
    background: $orange;
    text-align: center;
}

#map {
    width: 1000px;
    height: 600px;
    position: relative;
    display: inline-block;
}

// * {
//     background: red;
//     color: black;
// }

.hover-info {
    background: #FFF;
    color: $pink;
    padding: 10px 20px;
}
